<a href="https://colab.research.google.com/github/chkarthik234-hub/python/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# find large number form given 3 numbers
p=input("enter first number")
q=input("enter second number")
r=input("enter third number")
if(p>=q) and (p>=r):
  print(p)
elif(q>=p) and (q>=r):
  print(q)
else:
  print(r)

enter first number10
enter second number20
enter third number30
30

#While Statements:
## syntax:
### while Boolean_condition:<br>
    statements<br>
    Increment / decrement <br>

In [7]:
x = 0
while x < 5:
  print("gitam")
  x = x+1

gitam
gitam
gitam
gitam
gitam

In [11]:
#print a natural number using while loop
#input:10
#output: 1 2 3 4 5 6 7 8 9 10

n=int(input("enter a number"))
i=1
while(i<=n):
  print(i,"",end="")
  i = i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [16]:
#add only even number 1 to n
#input:10
#op:30(2+4+6+8+10)

n=int(input("enter a number"))
sum=0
i=1
while(i<=n):
  if(i%2==0):
    sum=sum+i
  i=i+1
print(sum)

enter a number10
30

In [18]:
#palindrome
#input: 123
#output:321

n=int(input("enter a number"))
while n!=0:
  r= n%10
  print(r,end=" ")
  n =n//10

enter a number123
3 2 1

# Functional programming:
- Simple
- Easy Read
- Divides large Programs into Small Sub Programs

#Syntax

In [25]:
def addevendigit(n):
  sum=0
  while n!=0:
    r =n%10
    if r %2==0:
      sum=sum+r
    n=n//10
  return sum
addevendigit(1234)

6

In [27]:
#read input
#input 19528
#op 9

def largestdigit(n):
  largest=0
  while(n>0):
    r=n%10
    if(r>largest):
      largest=r
    n=n//10
  return largest
largestdigit(19528)

9

In [37]:
#reverse
#in:123
#op:321

def palindrome(n):
  pal=0
  while(n>0):
    rem=n%10
    pal=pal*10+rem
    n=n//10
  return pal
palindrome(123)

321

In [43]:
#palindrome or not
#ip:121--121--yes
#op:121--321--no

def ispalindrome(n):
  rev=0
  buffer=n
  while n!=0:
    r=n%10
    rev=rev*10+r
    n=n//10
  if buffer == rev:
    return "yes"
  else:
    return "no"
print(ispalindrome(123))
print(ispalindrome(121))

no
yes

In [46]:
#function to print natural number

def natural(n):
  for i in range(1,n+1):
    print(i,end=" ")
natural(10)

1 2 3 4 5 6 7 8 9 10

In [48]:

def natural(l,b):
  for i in range(l,b+1):
    print(i,end=" ")
natural(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [50]:
def natural(l,b):
  for i in range(l,b+1,4):
    print(i,end=" ")
natural(11,25)

11 15 19 23

In [51]:
#using fuction

def reverserange(start,end):
  for i in range(end,start-1,-1):
    print(i,end=" ")
reverserange(1,10)

10 9 8 7 6 5 4 3 2 1

# Data Structures
- list
- tuple
- dictionary

# List:
- its one data structure in python,the items are separated by comma and      enclosed by [ ]
- crud operations
- c=create
- r=read
- u=update
- d=delete
- list can be changed
## Example:
- list=[1,2,3,4]